@import "./utils/visually-hidden";
@import "./base/common";
@import "./utils/variables";

@import "./base/conteiner";
@import "./base/body";
@import "./components/header";
@import "./components/hero";
@import "./components/exlus";
@import "./components/works";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
@import "./components/backdrop";
